* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Montserrat', Arial, Helvetica, sans-serif ;
    font-size: 13px;
    overflow-x: hidden;
}
header {
    height: 100px;
    background-color: #000000;
    color: #ffffff;
}
.header {
    max-width: 1140px;
    height: 100px;
    display: flex;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #b28756;
}
.logo-img, .logo-img-cima {
    width: 17px;
    height: 15px;
    transform: rotate(-45deg);
    position: relative;
    border-top: 4px solid #b28756;
    border-right: 4px solid #b28756;
}
.logo-img-cima {
    width: 25px;
    height: 25px;
    margin-bottom: -10px;
}
.logo-img:before, .logo-img:after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
}
.logo-img:before {
    top: -33px;
    left: 0px;
    border-left: 4px solid #b28756;
}
.logo-img:after {
    right: -30px;
    top: -21px;
    border-bottom: 4px solid #b28756;
}
.logo-txt {
    font-size: 8px;
    font-weight: 900;
    letter-spacing: 16px;
    text-align: center;
    text-indent: 16px;
    margin-top: 6px;
    margin-bottom: -6px;
}
.menu-opener {
    display: none;
}
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.menu ul,
.menu li  {
    list-style: none;
}
.menu ul {
    display: flex;
}
.menu li a {
    color: #aaa;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    align-items: center;
    border-bottom: 5px solid #000000;
}
.menu li a:hover,
.menu .active a {
    border-bottom: 5px solid #b28756;
    color: #ffffff;
}

.button {
    display: inline-block;
    background-color: #b28756;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 20px;
}
.button-dark {
    display: inline-block;
    background-color: #333;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    font-size: 13px;
    margin-top: 30px;
    padding: 15px 50px;
    border-radius: 20px;
}
.banner {
    height: calc(100vh - 100px);
    background-color: #ccc;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center ;
    overflow: hidden;
}
.banner .sliders {
    width: 1000vh;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.7);
}
.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    flex-direction: column;
}
.banner h1 {
    text-transform:uppercase;
    font-size: 65px;
    font-weight: bold;
}
.banner h1 span {
    color: #b28756;
}
.banner h2 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.banner .sliders-pointers {
    position: absolute;
    margin-top: -50px;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .pointers {
    height: 15px;
    width: 15px;
    border: 2.5px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .active {
    background-color: #b28756;
}

.default {
    width: 100vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.default .section-title, 
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.default .section-title {
    font-size: 28px;
}
.default .section-body {
    max-width: 1140px;
    margin: auto;
}
.default .section-desc {
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 40px;
}
.default.light {
    background-color: #eee;
}
.default.light .section-title,
.default.light .section-body {
    color: #000;
}
.default.dark {
    background-color: #000;
}
.default.dark .section-title, 
.default.dark .section-body{
    color: #ffffff;
}






/* CSS DE AREAS ESPECIFICAS*/
.section-aboutus {
    display: flex;
}
.section-aboutus--left {
    flex: 1;
}
.section-aboutus--left p {
   font-size: 15px;
   line-height: 25px;
   font-weight: 600;
}
.section-aboutus--right {
    background-image: url(/media/harvore.jpg);
    background-size: cover;
    background-position: center;
    margin:0px 30px;
    width: 500px;
    height: 300px;
    text-align: center;
    box-shadow: 0px 10px 10px #777;
}
.section-aboutus--right .background {
    background-color: rgba(0, 0, 0, 0.63);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.section-aboutus--right span {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 35px;
}
.background .play{
    font-size: 90px;
    margin-bottom: -20px;
}
.section-services {
    display: flex;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 2px solid #333;
    padding: 20px 15px;
}
.section-service:first-child {
    border-left: 2px solid #333;
}
.section-service h4 {
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.section-service p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}



.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-projects--filters {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    padding: 0px 35px;
}
.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}
.section-projects--filters li {
    color: #333;
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border-right: 1px solid #ccc;
    border-bottom: 4px solid #eee;
    cursor: pointer;
}
.section-projects--filters li:hover, 
.section-projects--filters li.active {
    border-bottom: 4px solid #b28756;
}
.section-projects--filters li:last-child {
    border-right: none;
}



.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section-projects--photo {
    width: 280px;
}
.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}
.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.section-projects--photoinfo h5 {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
}
.section-projects--photoinfo p {
    text-align: center;
    font-size: 12px;
    padding: 10px 25px;
    line-height: 20px;
}
.section-projects--photoarea:hover
.section-projects--photoinfo {
    display: flex;
}
.section-projects--photoarea:hover {
    transition: 0.5s;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
    transform: scale(1.1);
}


.bg-team {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg2.jpg');
    background-size: cover;
    background-position: center;
    padding: 0px;
}
.section-team--area {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow:hidden;
    max-width:880px;
    margin:auto;
}
.section-team .sliders {
    width:1000vw;
    height:100%;
}
.section-team .slide {
    width:280px;
    height:100%;
    min-height:300px;
    display:inline-block;
    background-color:#FFF;
    margin-right:20px;
}
.section-team .slidearea {
    display:flex;
    flex-direction:column;
    height:100%;
    justify-content: center;
    align-items:center;
    color:#000;
    padding:30px;
}
.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #fff;
    margin-right: 20px;
}
.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    padding: 30px;
}
.section-team--area .sliders-pointers {
    height: 20px;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-team--area .pointers {
    height: 15px;
    width: 15px;
    border: 2.5px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-team--area .active {
    background-color: #b28756;
}
.section-team--avatar {
    width: 150px;
    height: auto;
}
.section-team--name {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
}
.section-team--role {
    font-size: 13px;
    color: #555;
    margin-top: 5px;
}
.section-team--social {
    display: flex;
    margin-top: 30px;
}
.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #bbb;
    border-radius: 13px;
    margin-right: 10px;
}
.section-team--social a:hover {
    background-color: #b28756;
}



.section-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.section-client--name {
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}
.section-client--role{
    font-size: 17px;
    color: #333;
    font-weight: 600;
    margin-top: 10px;
}
.section-clients--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    padding: 0px 100px;
}
.section-clients--text img {
    width: 30px;
    margin-bottom: 15px;
}
.section-clients--text p {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    color: #777;
}
.clients .sliders-pointers {
    height: 20px;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .pointers {
    height: 15px;
    width: 15px;
    border: 2.5px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.clients .active {
    background-color: #b28756;
}

.patrocinios {
    position: relative;
    width: 100vw;
    height: 100%;
    display: flex;
    margin: auto;
    background-color: #fff;
    justify-content: center;
    border-top: 1px solid rgba(172, 165, 165, 0.685);
    border-bottom: 1px solid rgba(172, 165, 165, 0.685);
    box-shadow: 0px 3px 9px -4px gray ;
}
.patrocinios .patrocinios-logos {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;

}
.patrocinios-logos img {
    width: 105px;
    height: 55px;
    margin: 5px 40px;
}
.default.extra-light {
    background-color: #FFF;
    border: 1px solid #BBB;
  }
  
  .section-empresas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000vw; /* ou 1140px*/
  }
  
  .section-empresas img {
    width: 105px;
    height: 55px;
    margin: 5px 40px;
  }

.section-price{
    display: flex;
    justify-content: space-between;
}
.section-price--item {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px ;
    padding-bottom: 35px;
    width: 250px;
    height: 100%;
    background-color: #fff;
}
.section-price--item .section-price--type {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px;
}
.section-price--item .section-price--price {
    font-size: 30px;
    font-weight: bold;
}
.section-price--item .section-price--month {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    color: #aaa;
    letter-spacing: .8px;
    margin-bottom: 20px;
}
.section-price--item .section-price--info {
    font-size: 9px;
    font-weight: 500;
    margin-top: 5px;
}


.default.light.box {
    background-color: #fff;
}
.section-body--box {
    background-color: #fff;
}
.section-box {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    padding: 30px 0px;
}
.section-box .section-box--info {
    width: 400px;
    margin-left: 65px;
}
.section-box--check img {
    padding: 0px 20px;

}
.section-box .section-box--check {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-bottom: 25px;
}
.section-box--info {
    display: block;
}
.section-box--check div {
    display: flex;
    flex: 1;
    flex-direction: column;
}
.section-box--check h4 {
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.section-box--check p {
    font-size: 15px;
    color: #aaa;
    line-height: 20px;
}
.section-box--check span {
    padding-top: 10px;
    line-height: 25px;
    font-size: 14px;
    color: #aaa;
}
.section-body--box .sliders-pointers {
    height: 20px;
    margin-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-body--box .pointers {
    height: 15px;
    width: 15px;
    border: 2.5px solid #b28756;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.section-body--box .active {
    background-color: #b28756;
}
.section-body--box .button-2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.section-facts {
    display: flex;
    margin-top: 60px;
}
.section-facts .section-fact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 0px 30px;
}
.section-fact h3 {
    font-size: 50px;
    font-weight: bold;
    color: #b28756;
}
.section-fact .bar-fact {
    width: 20px;
    height: 4px;
    background-color: #777;
    margin-bottom: 8px;
    margin-top: 3px;
}
.section-fact h4 {
    font-size: 17px;
    text-transform: uppercase;
}
.section-fact p {
    margin-top: 10px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}


.section-tell {
    display: flex;
    justify-content: center;
    margin: auto;
}
.tell-body {
    display: inline-flex;
    justify-content: center;
    width: 100vw;
    max-width: 1140px;
    margin: 20px 0px;

}
.section-tell .tell-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 50px;
}
.tell-aboutus img {
    width: 20px;
    margin-right: 15px;
}
.tell-aboutus p {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #aaa;

}
.section-tell {
    border-bottom: 1px solid #ddd;
}

.section-tell .tell-social {
    display: flex;
}
.tell-icons {
    padding: 0px 20px;
}
.tell-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    margin-right: 5px;
    background-color: #00acee;
}
.section-tell .tell-icons .i2 {
    background-color: #0e76a8;
}
.section-tell .tell-icons .i3 {
    background-color: #3b5998;
}
.section-tell .tell-icons .i4 {
    background-color: #db4a39;
}
.section-tell .tell-icons .i5 {
    background-color: #c8232c;
}
.tell-icons  {
    font-size: 10px;
    font-weight: bold;
    color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}




form {
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;

}

form input,
form textarea {
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px solid #AAA;
    min-width:255px;
    margin-top:50px;
    background-color: transparent;
    text-decoration: none;
    line-height: 30px;
    resize: none;
    outline: 0;
}
form input::placeholder,
form textarea::placeholder {
    font-size: 13px;
    font-weight: 500;
    color: #aaa;
}

form textarea::placeholder {
    font-size: 18px;
    padding-top: 65px;
}
form textarea {
    background-color: transparent;
    height: 100px;
    width: 100%;
}
.section-form{
    width: 100vw;
    max-width: 1140px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#subject{
    width: 100%;
}
#name {
    margin-right: 20px;
}
.section-form a {
    margin-top: 50px;
}


.section-map {
    background-image: url(/assets/images/mapa.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section-map--area {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}
.section-map--info {
width: 50%;
padding: 30px;
background-color: #fff;
color: #000;
}



.section-map--infos {
    display: flex;
    align-items: center;
    color: #666;
    font-weight: 500;
    padding-bottom: 10px;
}
.section-map--icon {
    width: 34px;
    height: 34px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #aaa;
    border-radius: 17px;
    margin-right: 20px;
}
.section-map--icon img {
    width: 20px;
    height: auto;
}





footer {
    background-color: #000;
  }
  
  .footer-area {
    display: flex;
    max-width: 1140px;
    height: 280px;
    margin: auto;
  }
  
  .footer-area1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .footer-area-item {
    display: flex;
  }
  
  .footer-social {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .footer-social:hover {
    background-color: #B28756;
  }
  
  .footer-social:nth-child(7) a{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    text-align: center;
    margin-bottom: 23px;
  }
  
  .footer-social img {
    width: auto;
    height: auto;
  }
  
  .footer-copy {
    display: flex;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
  }
  
  .footer-area2 {
    display: flex;
    color: #999;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  
  .footer-area3{
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-area3 form{
    width: 300px;
    margin: 30px;
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-area3 label input{
    width: 180px;
    font-size: 18px;
    color: #999;
    padding: 20px;
    background-color: #333;
    border:none;
    border-bottom: 1px solid #999;
  }
  
  .footer-area input::placeholder {
    color: #CCC;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .footer-area3 form a {
    display: inline-flex;
    flex-direction: row;
    margin: 25px auto 15px;
  }
  
  input:focus {
    border: none;
    border-bottom: 1px solid #999;
  }




/* @MEDIA */

@media (min-width:450px) and (max-width:800px) {
    .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 40px;
        margin-right: 30px;

    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0px;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 25px;
        margin-left: 50px;
        border: none;
    }
    .menu li a:hover,
    .menu .active a {
    border-bottom:none;
    color: #b28756;
    }
    .section-aboutus {
        flex-direction: column;
    }
    .section-aboutus--left {
        margin: 0px 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .section-aboutus--right {
        width: auto;
    }

    .section-services {
        flex-wrap: wrap;
    }
    .section-service {
        min-width: 50%;
        margin-bottom: 30px;
    }
    .section-service:first-child {
        border-left: 0;
    }
    .section-team {
        max-width: 580px;
    }
    .patrocinios .patrocinios-logos {
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .patrocinios-logos img:nth-child(5),
    .patrocinios-logos img:nth-child(6) {
        margin-top: 50px;
    }
    .section-price {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-price--item {
        min-width: calc (50% - 30px);
        margin: 30px;
    }
    .section-box--image {
        margin-left: 30px;
    }
    .section-box .section-box--info {
        margin: 0pc 30px;
    }
    .body-facts {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .section-facts {
        flex-wrap: wrap;
        margin-top: 30px;
    }
    .section-facts .section-fact {
        min-width: 40%;
        margin-bottom: 40px;
        padding: 0px 60px;
        margin: 20px 0px;
    }






    .section-map {
        padding-left: 30px;
        padding-right: 30px;
    }
    .section-map--area {
        width: auto;
    }
    .section-map--info {
        width: auto;
    }
    .footer-area {
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
      }
    
      .footer-area1 {
        /*
        padding-left: 10px;
        margin-top: 10px;*/
        margin: auto;
        padding-top: 20px;
      }
      .footer-copy {
        padding-top: 50px;
        padding-bottom: 20px;
        margin: auto;
      } 
    
      .footer-area2 {
        text-align: center;
        margin-left: 10px;
        margin-top: 30px;
        margin-right: 30px;
        padding: 0px 40px;
      }
    
      .footer-area3 {
        margin-left: 10px;
        margin-top: 30px;
      }
}


/* MEDIA MOBILE */


@media (max-width:450px) {
    .logo {
        margin-left: 30px;
    }
    .menu-opener {
        display: block;
        width: 40px;
        margin-right: 30px;

    }
    nav {
        display: none;
        position: absolute;
        z-index: 99;
        background-color: rgba(0, 0, 0, 0.9);
        width: 70vw;
        height: calc(100vh - 100px);
        top: 100px;
        right: 0px;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        font-weight: bold;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;
        border: none;
    }
    .menu li a:hover,
    .menu .active a {
    border-bottom:none;
    color: #b28756;
    }

    .banner h1 {
        font-size: 32px;
    }
    .banner h2 {
        font-size: 20px;
    }
    .section-aboutus {
        flex-direction: column;
    }
    .section-aboutus--left {
        margin: 0px 30px;
        margin-bottom: 30px;
        text-align: center;
    }
    .section-aboutus--right {
        width: auto;
    }
    .section-aboutus--right span {
        font-size: 25px;
    }
    .section-aboutus--right .play {
        font-size: 70px;
        margin-bottom: -15px;
    }


    .section-services {
        flex-wrap: wrap;
        padding: 0px 80px;
    }
    .section-service {
        min-width: 100%;
        margin-bottom: 30px;
    }
    .section-service {
        border: none;
    }
    .section-service:first-child {
        border: none;
    }



   .section-projects--filters {
    margin: 0px 20px;
    padding: 0px 10px;
    }


    .section-team {
        max-width: 280px;
    }
    .patrocinios .patrocinios-logos {
        width: 300px;
        overflow: hidden;
    }
    .patrocinios-logos img {
        width: 200px;
        height: 70px;
        margin: 0px 30px;
    }


    .section-price {
        flex-wrap: wrap;
        justify-content: center;
    }
    .section-price--item {
        min-width: calc (50% - 30px);
        margin: 30px;
    }


    .section-box {
        flex-direction: column;
    } 
    .section-box--image {
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .section-box .section-box--info {
        width: 350px;
        margin: 0pc 30px;
    }
    .body-facts {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 250px;
    }
    .section-facts {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 250px;
        margin-top: 0;
    }
    .section-facts .section-fact {
        min-width: 40%;
        margin-bottom: 40px;
        padding: 0px 100px;
        margin: 20px 0px;
    }

    .tell-body {
        flex-direction: column;
    }
    .tell-aboutus {
        margin-bottom: 20px;
    }
    .tell-social {
        align-items: center;
        justify-content: center;
    }
    .tell-icons {
        padding: 0px 10px;
    }


    form {
        width: 380px;
    }






    .section-map {
        padding: 0;
        padding-bottom: 300px;
    }
    .section-map--area {
        width: auto;
    }
    .section-map--info {
        width: auto;
    }



    .footer-area {
        height: 100%;
        flex-direction: column-reverse;
        align-items: center;
      }
    
      .footer-area1 {
        /*
        padding-left: 10px;
        margin-top: 10px;*/
        margin: auto;
        padding-top: 50px;
        padding-bottom: 30px;
      }
      .footer-copy {
        padding-top: 50px;
        padding-bottom: 20px;
        margin: auto;
      } 

    
      .footer-area2 {
        text-align: center;
        margin-left: 10px;
        margin-top: 30px;
        margin-right: 30px;
        padding: 0px 40px;
      }
    
      .footer-area3 {
        margin-left: 10px;
        margin-top: 30px;
      }
      form input {
          margin-top: 10px;
      }
}